@model BookTickets.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>Вы были успешно зарегестрированы.</p>
    </div>
</body>
</html>
